
// **** Buttons****
.applybtn {
    color: var(--white);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    border-radius: 8px;
    background-color: var(--active);
    height: 34px;
    transition: all ease-in-out 0.3s;
    &:hover{
        background-color: var(--blue);
    }
}

.viewDetailsBtn {
    color: var(--blue);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: all ease-in-out 0.3s;
    & .moreImg {
        margin-top: -2px;
        display: inline-flex;
        width: 16px;
        height: 16px;
        align-items: center;
        & img {
            transition: all ease-in-out 0.3s;
        }
    }
    &:hover{
        color: var(--active);
        & .moreImg {
            & img {
                filter: brightness(1.2);
            }
        }
    }
}

.categoryBtn {
    box-shadow: none;
    border: none;
    border-radius: 8px;
    padding: 4px 10px;
    text-align: center;
    background-color: var(--balck--light);
    color: var(--white);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
}

.appendBtn {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    box-shadow: none;
    border: none;
    background-color: var(--netural-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.3s;
    &:hover{
        background-color: var(--neutral);
    }
    &.smallappend{
        width: 37px;
        height: 24px;
        & span {
            width: 14px;
            & img {
                width: 100%;
                object-fit: contain;
            }
        }
    }
    &.moniter{
        width: auto;
        & img{
            width: 24px;
        }
    }
    &.lightbg{
        background-color: var(--balck--light);
        &:hover{
            background-color: var(--neutral);
        }
    }
    &.conectBtn {
        width: 32px;
        height: 32px;
        & img{
            width: 16px;
        }
    }
}

.postbutoon {
    position: relative;
    border: 3px solid var(--theme-red);
    margin-left: 64px;
    display: inline-block;
    border-radius: 8px;
    &::before{
        content: '';
        height: 12px;
        width: 64px;
        background: url(../image/icon/post_button.png) no-repeat center;
        background-size: contain;
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
    }
    &.longBorder{
        &::after{
            content: '';
            width: 300%;
            max-width: 450px;
            opacity: 1;
            height: 1px;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            right: 100%;
            border-bottom: 2px dashed var(--theme-red);
        }
        &::before{
            background: url(../image/icon/comment-arrow.svg);
            width: 17px;
            object-fit: contain;    
            background-position: left;
        }
    }
}
.post_Btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    padding: 2px 8px;
    border: 1px solid var(--dark-red);
    background-color: var(--theme-red);
    border-radius: 8px;
    margin: 12px;
    & span {
        min-width: 13px;
        height: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
            object-fit: contain;
        }
        &.closebtn{
            & img{
                filter: brightness(100);
            }
        }
    }
    &.small_post_Btn{
        padding: 4px 12px;
        font-size: 12px;
        line-height: 140%;
        & span{
            min-width: 10px;
            width: 10px;
            height: 10px;
        }
    }
    &.bluePost_btn{
        border-color: var(--active);
        background-color: var(--active);
    }
}

.sourcesBtn {
    display: flex;
    border: none;
    box-shadow: none;
    background-color: var(--neutralBlack);
    width: 56px;
    padding: 4px 12px;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    &:hover{
        background-color: var(--balck--light);
    }
    &.lightbg{
        background-color: var(--balck--light);
        &:hover{
            background-color: var(--neutral);
        }
    }
}




// *** -----------------Radio & Checkbox btn-group ------------
.btn-group {
    & .btn-check {
        &:checked+.radioBtn{
            background-color: var(--active);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 16.8px */
            color: var(--white);
        }
    }
    & .radioBtn {
        border-radius: 8px;
        padding: 5px 0px;
        width: 64px;
        background-color: var(--black--dark);
        color: var(--white);
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 16.8px */
        outline: none;
        border: none;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        min-width: 74px;
        &:hover{
            background-color: var(--active);
        }
    }
}

.form-check{
    display: flex;
    align-items: center;
    gap: 8px;
    & .form-check-label, & .form-check-input {
        cursor: pointer;
    }
    & .form-check-input {
        margin-top: -1.5px;
        border-radius: 4px;
        border: 1px solid var(--checkbox);
        height: 16px;
        width: 16px;
        box-shadow: none;
    }
    & .form-check-label {
        cursor: pointer;
        font-size: 12px;
        font-weight: 400;
        line-height: 140%; /* 16.8px */
        color: var(--white);
    }
    &.scopcheck{
        justify-content: center;
        gap: 0px;
        & .form-check-input{
            &:checked+label{
                & .icon{
                    &.scope {
                        & img {
                            filter: brightness(1) !important;
                        }
                    }
                }
            }
        }
        & label{
            cursor: pointer;
            padding: 0px 6px;
        }
    }
}

.radiobutton_group{
    & .btn-check{
        &:checked+.radiobutton_label{
            background-color: var(--neutral);
        }
    }
    & .radiobutton_label{
        display: flex;
        align-items: center;
        padding: 4px 12px 2px 12px;
        border: 1px solid var(--black--dark);
        background-color: var(--balck--light);
        box-shadow: 0px 0px 4px 0px var(--black-40);
        color: var(--white);
        font-size: 12px;
        font-style: normal;
        min-height: 24px;
        font-weight: 400;
        line-height: 140%;
        border-radius: 8px;
        transition: all ease-in-out 0.3s;
        cursor: pointer;
        &:hover{
            background-color: var(--neutral);
        }
    }
}