.apexcharts-legend{
    display: none !important;
}
.apexcharts-text {
    fill: var(--white);
    &.apexcharts-yaxis-label {
        position: relative;
        &::after{
            content: '';
            width: 100px;
            height: 100px;
            background-color: red;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

}
.apexcharts-toolbar {
    display: none !important;
}
.apexcharts-grid-borders > line:first-child,
.apexcharts-grid-borders > line:last-child{
    display: none;
}
.apexcharts-gridlines-horizontal, .apexcharts-yaxistooltip {
    display: none !important;
}
.apexcharts-grid-borders > line, .apexcharts-xaxis-tick{
    stroke: var(--neutral) !important;
}

// .apexcharts-yaxis.apexcharts-xaxis-inversed * {
//     display: none !important;
//     width: 0 !important;
// }


@media screen and (min-width: 1850px) {
    .apexcharts-inner.apexcharts-graphical{
        transform: translate(13px, 0) scale(1.05);
    }
    .homepage{
        & .manin_content_Body {
            & .levelCard{
                &.stackedChartCard {
                    & .card-body{
                        & .chartlable {
                            margin: 2px 0px 0px 0px !important;
                            height: calc(100% - 30px) !important;
                            gap: 1.3%;
                            & li {
                                height: 8.1% !important;
                                & .keyBtn {
                                }
                            }
                        }
                        & .stacked_chartGroup {
                            &.above1000{
                                & .chartlable {
                                    gap: 1.3%;
                                    & li {
                                        height: 7.9% !important;
                                        & .keyBtn {
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


