.apexcharts-legend{
    display: none !important;
}
.apexcharts-text {
    fill: var(--white);
    &.apexcharts-yaxis-label {
        position: relative;
        &::after{
            content: '';
            width: 100px;
            height: 100px;
            background-color: red;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

}
.apexcharts-toolbar {
    display: none !important;
}
.apexcharts-grid-borders > line:first-child,
.apexcharts-grid-borders > line:last-child{
    display: none;
}
.apexcharts-gridlines-horizontal, .apexcharts-yaxistooltip {
    display: none !important;
}
.apexcharts-grid-borders > line, .apexcharts-xaxis-tick{
    stroke: var(--neutral) !important;
}

// .apexcharts-yaxis.apexcharts-xaxis-inversed * {
//     display: none !important;
//     width: 0 !important;
// }


.apexcharts-inner.apexcharts-graphical{
    transform: translate(13px, 0) scale(1.05);
}
@media screen and (min-width: 1850px) {
    .homepage{
        & .manin_content_Body {
            & .levelCard{
                &.stackedChartCard {
                    & .card-body{
                        & .chartlable {
                            gap: 1.6%;
                            & li {
                                height: 8% !important;
                                & .keyBtn {
                                }
                            }
                        }
                        & .stacked_chartGroup {
                            bottom: -15px;
                            // min-height: 435px;
                            // bottom: -14px;
                            &.above1000{
                                bottom: -10px;
                                min-height: 350px !important;
                                height: 100%;
                                & .chartlable {
                                    gap: 1.4% !important;
                                    & li {
                                        height: 7.43% !important;
                                        & .keyBtn {
                                        }
                                    }
                                }
                                & .stackedChart {
                                    // height: 330px;
                                    // min-height: unset !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}    

// .stackedChart{
// height: 100% !important;
// }