.geo_map {
    & img {
        object-fit: cover;
        // min-height: 900px;
        // min-width: 1900px;
    }
    & .icons-wrap-container {
        background-color: var(--successful);
        padding: 5px;
        border-radius: 5px;
    }
    & .icons-wrap-container i{
        color: var(--white);
    }
    & .icons-wrap-container, & .numerice-icon-number {
        color: var(--white);
    }
    & .zoom-buttons-map {
        position: absolute;
        bottom: 16px;
        right: 16px;
        padding: 8px;
        border-radius: 8px;
        background-color: var(--neutralBlack);
        & button {
            height: 24px;
            width: 24px;
            box-shadow: none;
            border: none;
            outline: none;
            margin: 0px 12px;
            background-color: transparent;
            padding: 0px;
        }
    }
    & .icon-description-bar {
        width: 100%;
        display: block;			
    }
    & .geomapmain {
        & .svgmap{
            width: 100%;
            height: auto;
        }
        g.node2 ellipse {
            transition: all 0.5s ease-in-out;
            fill: var(--netural-dark) !important;
            cursor: pointer !important;
        }
        g.node2.animation_color ellipse {
            transition: all 0.5s ease-in-out;
            fill: #00D1FF !important;
        }
        g.node2 rect {
            cursor: pointer;
        }
    }
}
.mapcard{
    background-color: var(--black--dark) !important;
}



.connectMap{
    &>div{
        width: 100% !important;
    }
    background-color: var(--black--dark);
    border-radius: 8px;
}

.geomapleftinfo{
    display: none;
    
}