// @include media-breakpoint(basic) {
// }
// @include media-breakpoint-up(sm) {}

// @include media-breakpoint-up(md) {}

// @include media-breakpoint-up(lg) {}

// @include media-breakpoint-up(xl) {}

// @include media-breakpoint-up(xxl) {}


// @include media-breakpoint-down(xxl) {}

// @include media-breakpoint-down(xl) {}

// @include media-breakpoint-down(lg) {}

// @include media-breakpoint-down(md) {}

// @include media-breakpoint-down(sm) {}

.bootomtreackchart{
    display: none;
}

// ? ******** [ Responsive ] *****


@media screen and (max-width: 1800px) {
    .mainpostcard {
        & .informationCard{
            & .socialMetricsCard {
                &.trackinguserdetails{
                    & .cardbody {
                        & .socialmetrics{
                            font-size: 12px;
                        }
                        & .rate {
                            // font-size: 14px;
                            & .tredMap {
                                gap: 4px;
                                & .tredingImg {
                                    width: 16px;
                                    height: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .pichart {
        & .card-body {
            & .innerbody {
                & .picharts{
                    & canvas{
                        height: 140px;
                        width: 140px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1700px) {
    .maincontent{
        & .manin_content_Body {
            & .levelCard  {
                & .card-body{
                    padding: 12px 16px;
                }
                &.pichart{
                    & .card-body {
                        & .innerbody {
                            & .cardSubTitle {
                                &.desktop {
                                    display: none;
                                }
                                &.tablet {
                                    display: flex;
                                }
                            }
                        }
                    }
                }
            }
            & .pichart {
                & .card-body {
                    
                    & .chartvalue{
                        & .ratingUser {
                            display: none
                        }
                    }
                    & .innerbody {
                        & .picharts{
                            & canvas{
                                height: 120px;
                                width: 120px;
                            }
                        }
                        // & .cardSubTitle {
                        //     font-size: 17px;
                        //     &.tablet{
                        //     }
                        // }
                        & .chartgroups {
                            height: calc(50% - 16px - 10.5px);
                        }
                        & .tredMap {
                            & .tredingImg {
                                height: 22px;
                                width: 22px;
                            }
                            & span {
                                font-size: 15px;
                            }
                            &.pichartmap {
                                & .tredingImg {
                                    height: 17px;
                                    width: 17px;
                                }
                                // & span {
                                //     font-size: 12px;
                                // }
                            }
                        }
                        & .chartvalue {
                            // margin-bottom: 1.5px;
                            & .chartbody {
                                // & .point {
                                //     width: 12px;
                                //     height: 12px;
                                // }
                                & .ratingUser {
                                    font-size: 15px;
                                }
                                & .amount{
                                    font-size: 13px;
                                }
                            }
                        }
                        & .totalresult {
                            font-size: 13px;
                        }
                    }
                }
            }
            & .top_post  {
                & .card-body {
                    & .card_title  {
                        &.smkeywordsgroup{
                            display: flex;
                        }
                        &.lgkeywordsgroup{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .bootomtreackchart {
        display: flex;
    }
    .facebook-postDetails-overview{
        & .mainpostcard{
            max-width: 400px;
            &.ytubeAnalysisPost{
                max-width: 400px;
            }
            // &.ytubemainPost{
            //     max-width: 676px;
            // }
            // &.ytubeAnalysisPost{
            //     max-width: 420px;
            // }
            // &.ytubemainVideoPost {
            //     max-width: 859PX;
            // }
        }
        & .analysisCommentBox{
            &.sm_an_commentBoxs{
                & .originalComment {
                    & .commentitem{
                        &:hover{
                            & .leftItemList {
                                min-width: 400px;
                            }
                            & .comment_card {
                                max-width: 400px;
                            }
                        }
                        & .leftItemList {
                            min-width: 400px;
                        }
                    }
                }
                & .comment_card{
                    max-width: 400px;
                }
            }
        }
    }
    .mainpostcard {
        & .informationCard{
            & .socialMetricsCard {
                &.trackinguserdetails{
                    & .cardbody {
                        & .items {
                            // min-width: 50%;
                            // &:nth-child(3), &:nth-child(5){
                            //     border-left: none !important;
                            // }
                            // &:nth-child(4){
                            //     border-bottom: 1px solid var(--balck--light) !important;
                            //     border-left: 1px solid var(--balck--light) !important;
                            // }
                        }
                        & .socialmetrics{
                            font-size: 12px;
                        }
                        & .rate {
                            // font-size: 14px;
                            & .tredMap {
                                gap: 4px;
                                & .tredingImg {
                                    width: 16px;
                                    height: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1600px) {
    .maincontent{
        padding: 30px;
        & .manin_content_Body {
            // ***
            & .levelCard  {
                & .card-body{
                    & .card_title  {
                        font-size: 22px;
                        margin-bottom: 10px;
                    }
                }
                &.stackedChartCard {
                    & .stackedChart {
                        // height: 366px;
                        height: 100%;
                        // & .linechart_group{
                        //     min-height: 200px !important;
                        //     margin-top: -20px;
                        //     &>div{
                        //         height: 200px !important;
                        //     }
                        // }
                    }
                    & .card-body{
                        // & .card_title{
                        //     margin-bottom: 0px;
                        // }
                        & .chartlable {
                            // margin: 11px 0px 0px 0px;
                            & li {
                                & .keyBtn {
                                    & img{
                                        width: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // ****
            // & .pichart {
            //     & .card-body {
            //         & .sourcetitle{
            //             display: none;
            //         }
            //     }
            // }
            // ***
            & .top_post  {
                & .card-body {
                    & .card_title  {
                        &.smkeywordsgroup{
                            display: flex;
                        }
                        &.lgkeywordsgroup{
                            display: none;
                        }
                    }
                }
            }
            // ****
            & .informationCard {
                & .card-body {
                    & .innerbody {
                        & .posted {
                            & .accounts {
                                & .userName {
                                    max-width: 130px;
                                }
                            }
                        }
                        & .socialMetricsCard {
                            & .cardbody {
                                &>div{
                                    border-left: 1px solid var( --balck--light);
                                    // padding: 4px 0px;
                                    &:first-child{
                                        border-left: none;
                                    }
                                }
                                & .metrics{
                                    font-size: 9px;
                                    letter-spacing: 0.3px;
                                }
                                // & .rate{
                                //     font-size: 15px;
                                // }
                            }
                        }
                    }
                }
            }
        }
    }
    .informationCard {
        & .card-body {
            & .innerbody {
                & .card_title {
                    font-size: 14px !important;
                    
                }
                & .posted {
                    & .accountPost {
                        font-size: 10px;
                    }
                    & .accounts {
                        gap: 10px;
                        font-size: 12px;
                        & .userName {
                            font-size: 12px;
                        }
                    }
                    & .accountUser {
                        width: 25px;
                        height: 25px;
                        &.mainaccount{
                            min-width: 25px;
                            min-height: 25px;
                        }
                    }
                    & .content{
                        font-size: 12px;
    
                    }
                    & .containtHeading{
                        font-size: 12px;
                    }
                }
                & .socialMetricsCard {
                    & .cardbody {
                        & .rate{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .all_sources {
        padding: 0px 30px;
        & .all_data {
            padding: 10px 0px;
            gap: 14px;
            & .data {
                font-size: 22px;
            }
        }
    }
    .overviewTabs {
        gap: 10px !important;
        &.trackingsocial{
            gap: 4px !important;
        }
        & .nav-item {
            & .nav-link {
                font-size: 14px;
                padding-right: 25px;
                &::before{
                    content: '';
                }
            }
        }
    }
    // **** Catyegory Card *****
    .categoryCard {
        min-width: 150px;
        max-width: 150px;
        & .card_body {
            padding: 8px 16px;
            gap: 4px;
            & .categoryImg {
                min-width: 35px;
                width: 35px;
                height: 35px;
            }
            & .valu {
                font-size: 22px;
                padding: 0px 12px;
                gap: 4px;
                & span {
                    font-size: 12px;
                }
            }
        }
    }
    // **** Catyegory End *****

    .userDistentCard{
        & .listItem {
            & .user_img {
                width: 32px;
                height: 32px;
                min-width: 32px;
            }
            & .userDetails {
                & .username {
                    font-size: 16px;
                }
                & .userAge{
                    font-size: 12px;
                    & .genderImg {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
        & .times {
            font-size: 12px;
        }
        & .tmgroup{
            & .timing_value {
                min-height: 22px;
                font-size: 12px;
            }
        }
    }
    .scriptVideo_section{
        // & .durationHeadingGroup {
        //     min-height: 24px;
        // }
        // & .durationHeading{
        //     &.duration {
        //         min-width: 48px;
        //     }
        //     &.startTime, &.endTime{
        //         min-width: 64px;
        //     }
        // }
        & .script_item {
            & .script {
                font-size: 12px;
            }
        }
    }
    .post_table {
        & .table {
            & tr {
                & td, & th {
                    padding: 1.5px 8px;
                    font-size: 12px;
                }
            }
            & thead{
                & tr{
                    & th {
                        height: 35px;
                        padding: 8px;
                    }
                }
            }
            & tbody{
                & tr {
                    & td, & th {
                        height: 30px;
                    }
                }
                & .icon {
                    height: 18px;
                    width: 18px;
                    min-width: 18px;
                    &.closeIcon {
                        width: 22px;
                        height: 22px;
                    }
                    &.eyes{
                        width: 22px;
                        height: 22px;
                        min-width: 22px;
                    }
                }
            }
        }
    }
    // **** Aside Bar Css Start *******
    .asideBar{
        & .logo_top {
            & .logo {
                width: 60px;
                height: 60px;
            }
            & .logoname {
                width: 75px;
                // margin: 12px auto 8px;
            }
        }
        & .asideBody {
            & .nav_link {
                & li{
                    & .navlinks{
                        height: 80px;
                        & img {
                            width: 28px;
                        }
                    }
                }
            }
        }
    }
    //! **** Aside Bar Css End *******
    .account_datatable {
        & .table {
            & tbody {
                & tr {
                    & td {
                        & .source {
                            font-size: 12px;
                            & .logoimg {
                                display: flex;
                                min-width: 27px;
                                height: 27px;
                            }
                        }
                        & .view{
                            & .type_icon {
                                width: 22px;
                                height: 22px;
                            }
                            & .scope {
                                width: 22px;
                                height: 22px;
                                min-width: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
    .facebook-postDetails-overview{
        & .mainpostcard{
            max-width: 350px;
            &.ytubeAnalysisPost{
                max-width: 360px;
            }
            &.fboverview{
                max-width: 420px;
            }
            // &.ytubemainPost{
            //     max-width: 676px;
            // }
            // &.ytubeAnalysisPost{
            //     max-width: 420px;
            // }
            // &.ytubemainVideoPost {
            //     max-width: 859PX;
            // }
        }
        & .post_detailsMaping_crad{
            max-width: 340px;
        }
        & .actorListCard{
            max-width: 300px;
        }
    }
    .mainpostcard {
        & .informationCard{
            & .postDetails{
                font-size: 14px;
                &.postDetails_sm {
                    font-size: 12px;
                }
                &.ytubeCVideoPostDetails {
                    font-size: 18px;
                }
            }
            & .postAllDetails{
                font-size: 12px;
                & .detailImg {
                    // height: 16px;
                    // width: 16px;
                    &.ytubeVideoDetailsImg {
                        height: 18px;
                        width: 18px;
                        
                    }
                }
            }
            & .socialMetricsCard {
                & .cardbody {
                    & .socialmetrics{
                        font-size: 12px;
                    }
                    & .rate {
                        gap: 4px;
                        & .tredMap {
                            gap: 4px;
                            & .tredingImg {
                                height: 16px;
                                width: 16px;
                            }
                            & span {
                                font-size: 10px;
                            }
                        }
                        &.lowvalue{
                            font-size: 14px;
                        }
                    }
                }
            }
            & .violationTangHeading {
                font-size: 12px;
            }
            & .violatinTag {
                padding: 10px;
            }
            & .card-body {
                & .innerbody  {
                    & .posted  {
                        & .accountUser {
                            // width: 27px;
                            // height: 27px;
                            // min-width: 27px;
                            &.videoAccountUser{
                                width: 35px;
                                min-width: 35px;
                                height: 35px;
                            }
                        }
                    }
                }
            }
        }
    }

    .ytube-videoDetails-overview{
        & .analysisCard {
            max-width: 350px;
        }
        // & .scriptCrad {
        //     max-width: 388px;
        //     width: 100%;
        // }
        & .script_Video_Top_Section {
            // max-height: 567px;
            // height: 100%;
            height: calc(100% - 250px - 8px);
        }
        & .videoeditore {
            max-height: 250px;
            height: 100%;
        }
    }
    .tiktokvideoanalysisscript {
        max-width: calc(100% - 358px);
        & .script_Video_Top_Section {
            height: calc(100% - 141px - 8px);
        }
        & .videoeditore {
            height: 141px;
        }
    }
    .midtableGroup {
        max-width: calc(100% - 546px);
    }
    // ** Keyword Tab**
    .keyword_category_name {
        & .top_post {
            & .posttableSide {
                & .categoryLink {
                    font-size: 14px;
                    height: 38px;
                }
            }
        }
    }
    .keyword_category_KEY {
        & .posttableSide {
            & .post_table {
                & .input_wrapper {
                    padding: 15px;
                    & .content {
                        & ul {
                            & li {
                                padding: 4px 10px;
                                font-size: 14px;
                                & i {
                                    height: 16px;
                                    width: 16px;
                                }
                                & input{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
        & .applybtn {
            max-width: 180px;
        }
    }
    .newsFilterCard {
        max-width: 265px;
        &.geomapfilter{
            max-width: 230px;
        }
        & .card-body {
            & .vietnamese_Group {
                & .groupItem_check {
                    & .form-check {
                        // padding: 4px 8px;
                        & .form-check-label {
                            font-size: 12px;
                            & .logoimg {
                                width: 27px;
                                height: 27px;
                            }
                        }
                    }
                }
            }
        }
    }
    .comment_card {
        & .comment_item_Body {
            & .commitUser {
                height: 30px;
                min-width: 30px;
                width: 30px;
                &.commitUsersm{
                    width: 26px;
                    height: 26px;
                    min-width: 26px;
                }
            }
            & .content_side {
                & .userName, & .commitcontent, & .tag{
                    font-size: 12px;
                }
            }
            
        }
    }
    .topheader{
        // height: 48px;
        & .socialNetwork {
            padding: 12px 0px 12px 26px;
            font-size: 18px;
        }
        & .userSide {
            & .notificationDropDown {
                & .dropdown-menu {
                    & .n_title {
                        font-size: 22px;
                    }
                    & .n_Body {
                        & .n_item{
                            & .logoimg {
                                height: 38px;
                                min-width: 38px;
                            }
                            & .n_message {
                                & .directMessage {
                                    font-size: 12px;
                                }
                                & .date{
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
            & .notification {
                height: 38px;
                width: 38px;
                & span{
                    font-size: 12px;
                }
            }
            & .bell, .user {
                width: 30px;
                height: 30px;
            }
        }
    }

    // *** Source -Tabs ***
    .card_title {
        & .cuntryflage {
            & .flage {
                width: 27px;
                height: 27px;
                &.small{
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
    .mediaGallery{
        &>div{
            padding: 4px;
        }
        & .mediaImg {
            &.videos{
                &::after{
                    width: 45px;
                    height: 45px;
                }
            }
        }
    }

    .settingTable{
        &.table {
            & tbody {
                & tr {
                    & td {
                        &:first-child{
                            width: 20%;
                        }
                    }
                }
            }
        }
        & .datadownloadcard {
            border-radius: 28px;
            max-width:260px;
            min-height: 135px;
            & .card-body{
                & .downloadicon {
                    width: 45px;
                    height: 45px;
                }
                & .downloadtext {
                    font-size: 12px;
                }
            }
        }
        &.nonhover{
            &.table{
                &.table-hover{  
                    & > tbody{
                        & > tr{
                            &:last-child{
                                &:hover > td{
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .breadcrumb_Bar{
        height: 36px;
        padding: 8px 0px 8px 26px;
        & .breadcrumb {
            margin: 0px;
            & .breadcrumb-item {
                font-size: 12px;
                &::before{
                    font-size: 16px;
                }
            }
        }
    }
    
    // *---------pageLinks Start---------*
    .pageLinks {
        & .socialLinkLink {
            gap: 15px;
            font-size: 13px;
            & span {
                width: 50px;
                height: 40px;
            }
        }
    }

    

}
@media screen and (max-width: 1560px) {
    .maincontent .manin_content_Body .navigationBar .card-body .tred_card {
        padding: 0px 12px;
    }
    .maincontent{
        & .manin_content_Body {
            // ***
            & .levelCard  {
                & .card-body{
                    & .card_title  {
                        font-size: 20px;
                        margin-bottom: 8px;
                    }
                }
                &.stackedChartCard {
                    & .stackedChart {
                        & .linechart_group{
                            // margin-top: -1.2%;
                        }
                    }
                }
            }
            // ****
            & .informationCard {
                & .card-body {
                    & .innerbody {
                        & .socialMetricsCard {
                            & .cardbody {
                                & .metrics{
                                    font-size: 8px;
                                    letter-spacing: 0.3px;
                                }
                                // & .rate{
                                //     font-size: 14px;
                                // }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1500px) {
    .maincontent{
        & .manin_content_Body {
            // ****
            & .informationCard {
                & .card-body {
                    & .innerbody {
                        & .posted {
                            & .accountedPosted {
                                max-width: 110px;
                            }
                        }
                        & .socialMetricsCard {
                            & .cardbody {
                                & .metrics{
                                    font-size: 8px;
                                    letter-spacing: 0.3px;
                                }
                                // & .rate{
                                //     font-size: 14px;
                                // }
                            }
                        }
                    }
                }
            }
            & .navigationBar {
                & .card-body{
                    & .timeing {
                        padding: 0px 0px 0px 22px;
                        & .volatility {
                            font-size: 22px;
                        }
                        & .timingBtn {
                            & button{
                                font-size: 14px;
                                & span{
                                    width: 22px;
                                    height: 22px;
                                }
                            }
                            & .dropdown-menu {
                                & .dropdown-item {
                                    font-size: 14px;
                                    line-height: 16px;
                                    padding: 6px 4px;
                                }
                            }
                        }
                    }
                    & .tred_card {
                        padding: 0px 10px;
                        & .tredImg{
                            width: 30px;
                            height: 30px;
                        }
                        & .trdPoint{
                            font-size: 18px;
                            & span {
                                font-size: 12px;
                            }
                        }
                        & .tredMap {
                            & .tredingImg {
                                height: 22px;
                                width: 22px;
                            }
                            & span {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    .facebook-postDetails-overview{
        & .analysisCommentBox{
            &.sm_an_commentBoxs{
                & .originalComment {
                    & .commentitem{
                        &:hover{
                            & .leftItemList {
                                min-width: 330px;
                            }
                            & .comment_card {
                                max-width: 330px;
                            }
                        }
                        & .leftItemList {
                            min-width: 330px;
                        }
                    }
                }
                & .comment_card{
                    max-width: 330px;
                }
            }
        }
    }
}
@media screen and (max-width: 1439.98px) {
    .maincontent{
        padding: 24px;
        & .manin_content_Body{
            & .levelCard  {
                & .card-body{
                    & .card_title  {
                        font-size: 18px;
                        margin-bottom: 6px;
                    }
                }
                &.stackedChartCard {
                    & .stackedChart {
                        & .linechart_group{
                            margin-top: -2px;
                        }
                    }
                    & .card-body{
                        & .chartlable {
                            // margin: 27% 0px 0px 0px;
                            & li {
                                height: 7.7%;
                                & .keyBtn {
                                    border-radius: 6px;
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
            // ****
            // & .pichart {
            //     & .card-body {
            //         & .sourcetitle{
            //             display: none;
            //         }
            //     }
            // }
            & .pichart {
                & .card-body {
                    & .sourcetitle{
                        display: none;
                    }
                    & .innerbody {
                        // gap: 6px;
                        & .picharts{
                            & canvas{
                                width: 110px;
                                height: 110px;
                            }
                        }
                        & .tredMap {
                            & .tredingImg {
                                height: 20px;
                                width: 20px;
                            }
                            & span {
                                font-size: 14px;
                            }
                            &.pichartmap {
                                & .tredingImg {
                                    height: 16px;
                                    width: 16px;
                                }
                                & span {
                                    font-size: 11px;
                                }
                            }
                        }
                        & .chartvalue {
                            & .chartbody {
                                & .point {
                                    width: 11px;
                                    height: 11px;
                                }
                                & .ratingUser {
                                    font-size: 14px;
                                }
                                & .amount{
                                    font-size: 12px;
                                }
                            }
                        }
                        & .totalresult {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .all_sources{
        padding: 0px 24px;
    }
    // ***
    .breadcrumb_Bar{
        padding: 8px 0px 8px 24px;
    }
    .topheader {
        & .socialNetwork{
            padding: 12px 0px 12px 24px;
        }
    }
    .userDistentCard{
        & .listItem {
            & .userDetails {
                & .username {
                    font-size: 14px;
                }
                & .userAge{
                    font-size: 11px;
                }
            }
        }
        & .times {
            font-size: 11px;
        }
        & .tmgroup{
            & .timing_value {
                font-size: 11px;
            }
        }
    }
}
@media screen and (max-width: 1400px) {
    .facebook-postDetails-overview{
        & .mainpostcard{
            max-width: 320px;
            &.ytubeAnalysisPost{
            max-width: 320px;
            }
            // &.ytubemainPost{
            //     max-width: 676px;
            // }
            // &.ytubeAnalysisPost{
            //     max-width: 420px;
            // }
            // &.ytubemainVideoPost {
            //     max-width: 859PX;
            // }
        }
        & .analysisCommentBox{
            &.sm_an_commentBoxs{
                & .originalComment {
                    & .commentitem{
                        &:hover{
                            & .leftItemList {
                                min-width: 300px;
                            }
                            & .comment_card {
                                max-width: 300px;
                            }
                        }
                        & .leftItemList {
                            min-width: 300px;
                        }
                    }
                }
                & .comment_card{
                    max-width: 300px;
                }
            }
            & .originalComment {
                & .commentitem{
                    &:hover{
                        & .leftItemList {
                            min-width: 450px;
                        }
                        & .comment_card {
                            max-width: 450px;
                        }
                    }
                    & .leftItemList {
                        min-width: 450px;
                    }
                }
            }
            & .comment_card{
                max-width: 450px;
            }
        }
    }
    .socialInformation{
        & .socialImg {
            width: 65px;
            height: 65px;
            border-width: 3px;
            & .socialIcon {
                width: 20px;
                height: 20px;
            }
        }
    }
    .overviewTabs {
        &.sm_overview{
            gap: 8px !important;
            & .nav-item {
                & .nav-link {
                    font-size: 14px;
                    padding-right: 20px;
                    &::before{
                        content: '';
                    }
                }
            }
        }
        &.trackingsocial{
            gap: 0px !important;
            & .nav-item {
                & .nav-link {
                    font-size: 12px;
                }
            }
        }
    }
    .maincontent{
        & .manin_content_Body{
            & .levelCard  {
                &.stackedChartCard {
                    & .stackedChart {
                        & .linechart_group{
                            // margin-top: -2px;
                        }
                    }
                    & .card-body{
                        & .stacked_chartGroup{
                            bottom: -6px;
                            min-height: 300px;
                        }
                        & .chartlable {
                            gap: 1.26%;
                            & li {
                                // height: 8.25%;
                                & .keyBtn {
                                    border-radius: 6px;
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1335.98px){
    .maincontent{
        padding: 20px;
        & .manin_content_Body{
            & .levelCard  {
                & .card-body{
                    padding: 8px 12px;
                    & .card_title  {
                        font-size: 15px;
                        margin-bottom: 4px;
                    }
                }
                // &.stackedChartCard {
                //     & .stackedChart {
                //         & .linechart_group{
                //         }
                //     }
                //     & .card-body{
                //         & .chartlable {
                //             & li {
                //                 height: 7.7%;
                //                 & .keyBtn {
                //                     border-radius: 6px;
                //                     font-size: 10px;
                //                 }
                //             }
                //         }
                //     }
                // }
            }
            // ****
            // & .pichart {
            //     & .card-body {
            //         & .sourcetitle{
            //             display: none;
            //         }
            //         & .innerbody {
            //             & .picharts{
            //                 & canvas{
            //                     width: 110px;
            //                     height: 110px;
            //                 }
            //             }
            //             & .tredMap {
            //                 & .tredingImg {
            //                     height: 20px;
            //                     width: 20px;
            //                 }
            //                 & span {
            //                     font-size: 14px;
            //                 }
            //                 &.pichartmap {
            //                     & .tredingImg {
            //                         height: 16px;
            //                         width: 16px;
            //                     }
            //                     & span {
            //                         font-size: 11px;
            //                     }
            //                 }
            //             }
            //             & .chartvalue {
            //                 & .chartbody {
            //                     & .point {
            //                         width: 11px;
            //                         height: 11px;
            //                     }
            //                     & .ratingUser {
            //                         font-size: 14px;
            //                     }
            //                     & .amount{
            //                         font-size: 12px;
            //                     }
            //                 }
            //             }
            //             & .totalresult {
            //                 font-size: 12px;
            //             }
            //         }
            //     }
            // }
            & .posttableSide {
                gap: 8px;
            }
            & .navigationBar {
                & .card-body{
                    padding:8px 0px;
                    & .innerbody {
                        gap: 8px;
                    }
                    & .timeing {
                        padding: 0px 0px 0px 16px;
                        & .volatility {
                            font-size: 18px;
                        }
                        & .timingBtn {
                            & button{
                                font-size: 12px;
                                & span{
                                    display: flex;
                                    width: 18px;
                                    height: 18px;
                                }
                            }
                            & .dropdown-menu {
                                min-width: 100px;
                                border-radius: 8px;
                                & .dropdown-item {
                                    padding: 4px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    & .tred_card {
                        padding: 0px 8px;
                        & .tredImg{
                            width: 24px;
                            height: 24px;
                        }
                        & .trdPoint{
                            font-size: 14px;
                            & span {
                                font-size: 12px;
                            }
                        }
                        & .tredMap {
                            display: flex;
                            align-items: center;
                            gap: 4px;
                            & .tredingImg {
                                height: 20px;
                                width: 20px;
                            }
                            & span {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            & .pichart {
                & .card-body {
                    & .innerbody {
                        gap: 8px;
                    
                        & .picharts{
                            & canvas{
                                width: 100px;
                                height: 100px;
                            }
                        }
                        & .tredMap {
                            & .tredingImg {
                                height: 16px;
                                width: 16px;
                            }
                            & span {
                                font-size: 12px;
                            }
                            &.pichartmap {
                                & .tredingImg {
                                    height: 13px;
                                    width: 13px;
                                }
                                & span {
                                    font-size: 10px;
                                }
                            }
                        }
                        & .chartvalue {
                            & .chartbody {
                                gap: 10px;
                                & .point {
                                    width: 10px;
                                    height: 10px;
                                }
                                & .ratingUser {
                                    font-size: 12px;
                                }
                                & .amount{
                                    font-size: 10px;
                                }
                            }
                        }
                        & .totalresult {
                            font-size: 10px;
                        }
                        & .chartgroups {
                            // height: calc(50% - 8px - 10.5px);
                            & .cardSubTitle {
                                font-size: 15px;
                            }
                        }
                        .bootomtreackchart {
                            & > div {
                                margin: auto 0px 0px 0px;
                                justify-content: space-between;
                                & .chartvalue  {
                                    padding: 0px;
                                    & .chartbody {
                                        & > div{
                                            gap: 10px !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // **** Aside Bar Css Start *******
    .asideBar{
        & .logo_top {
            & .logo {
                width: 48px;
                height: 48px;
            }
            & .logoname {
                width: 60px;
                // margin: 12px auto 8px;
            }
        }
        & .asideBody {
            & .nav_link {
                & li{
                    & .navlinks{
                        height: 64px;
                        & img {
                            width: 23px;
                        }
                    }
                }
            }
        }
    }
    // *---------pageLinks Start---------*
    .pageLinks {
        & .socialLinkLink {
            gap: 13px;
            font-size: 11px;
            & span {
                width: 40px;
                height: 32px;
            }
        }
    }
    .topheader{
        // height: 48px;
        & .socialNetwork {
            padding: 10px 0px 10px 18px;
            font-size: 15px;
        }
        & .userSide {
            & .notificationDropDown {
                & .dropdown-menu {
                    min-width: 330px;
                    padding: 10px 12px;
                    & .n_title {
                        font-size: 14px;
                        margin-bottom: 8px;
                    }
                    & .n_Body {
                        & .n_item{
                            padding: 6px;
                            & .logoimg {
                                height: 24px;
                                min-width: 24px;
                            }
                        }
                    }
                }
            }
            & .notification {
                height: 24px;
                width: 24px;
                & span {
                    font-size: 8px;
                    width: 13px;
                    height: 13px;
                }
            }
            & .bell, .user {
                width: 18px;
                height: 18px;
            }
        }
    }
    .breadcrumb_Bar{
        height: 36px;
        padding: 6px 0px 6px 20px;
        & .breadcrumb {
            margin: 0px;
            & .breadcrumb-item {
                font-size: 10px;
                &::before{
                    font-size: 13px;
                }
            }
        }
    }
    .all_sources {
        padding: 0px 20px;
        & .all_data {
            padding: 8px 0px;
            gap: 10px;
            & .data {
                font-size: 18px;
            }
        }
    }
    .overviewTabs {
        gap: 8px !important;
        &.trackingsocial{
            gap: 4px !important;
        }
        & .nav-item {
            & .nav-link {
                font-size: 11px;
                padding: 6px 20px 6px 0px;
            }
        }
    }
    .categoryCard {
        min-width: 120px;
        max-width: 120px;
        & .card_body {
            padding: 8px 12px;
            & .categoryImg {
                min-width: 28px;
                width: 28px;
                height: 28px;
            }
            & .valu {
                font-size: 17px;
                padding: 0px 8px;
                & span {
                    font-size: 10px;
                }
            }
        }
    }
    .post_table {
        & .table {
            & tr {
                & td, & th {
                    padding: 1px 6px;
                    font-size: 10px;
                }
            }
            & thead{
                & tr{
                    & th {
                        height: 30px;
                        padding: 5px;
                    }
                }
            }
            & tbody{
                & tr {
                    & td, & th {
                        height: 25px;
                    }
                }
                & .view{
                    gap: 4px;
                }
                & .icon {
                    height: 14px;
                    width: 14px;
                    min-width: 14px;
                    &.closeIcon {
                        width: 18px;
                        height: 18px;
                    }
                    &.eyes{
                        width: 18px;
                        height: 18px;
                        min-width: 18px;
                    }
                }
            }
        }
    }
    .newsFilterCard {
        // &.geomapfilter{
        //     max-width: 230px;
        // }
        & .card-body {
            & .innerBody {
                gap: 10px;
                & .filterTitle {
                    font-size: 10px;
                    margin-bottom: 2px;
                }
                & .keywordkey {
                    gap: 4px;
                }
                & .btn-group {
                    & > div {
                        gap: 5px !important;
                        & > div {
                            display: flex;
                        }
                    }
                }
            }
            & .vietnamese_Group {
                & .groupItem_check {
                    & .form-check {
                        // padding: 4px 8px;
                        & .form-check-label {
                            font-size: 10px;
                            width: 100%;
                            padding-right: 20px;
                            & .logoimg {
                                width: 21px;
                                height: 21px;
                                min-width: 21px;
                            }
                        }
                    }
                }
            }
        }
        &.sourcecards {
            & .sourcebody {
                padding: 0px 5px;
            }
        }
    }
    .informationCard {
        & .card-body {
            padding: 8px 10px !important;
            & .innerbody {
                & .card_title {
                    font-size: 12px !important;
                    
                }
                & .posted {
                    & .accountPost {
                        font-size: 10px;
                        margin-bottom: 3px;
                    }
                    & .accounts {
                        gap: 6px;
                        font-size: 10px;
                        & .userName {
                            font-size: 10px;
                        }
                    }
                    & .accountUser {
                        width: 20px;
                        height: 20px;
                        &.mainaccount{
                            min-width: 20px;
                            min-height: 20px;
                        }
                    }
                    & .content{
                        font-size: 10px;
    
                    }
                    & .containtHeading{
                        font-size: 10px;
                    }
                }
                & .socialMetricsCard {
                    & .cardbody {
                        & .rate{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .account_datatable {
        & .table {
            & tbody {
                & tr {
                    & td {
                        & .source {
                            font-size: 10px;
                            & .logoimg {
                                min-width: 22px;
                                height: 22px;
                            }
                        }
                        & .view{
                            & .type_icon {
                                width: 18px;
                                height: 18px;
                            }
                            & .scope {
                                width: 18px;
                                height: 18px;
                                min-width: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
    // *** Source -Tabs ***
    .card_title {
        & .cuntryflage {
            & .flage {
                width: 21px;
                height: 21px;
                &.small{
                    width: 19px;
                    height: 19px;
                }
            }
        }
    }
    .settingTable{
        & .datadownloadcard {
            border-radius: 18px;
            max-width:220px;
            min-height: 115px;
            & .card-body{
                & .downloadicon {
                    width: 36px;
                    height: 36px;
                }
                & .downloadtext {
                    font-size: 10px;
                }
            }
        }
    }
    // ** Keyword Tab**
    .keyword_category_name {
        & .top_post {
            & .posttableSide {
                & .categoryLink {
                    font-size: 12px;
                    height: 30px;
                }
            }
        }
    }
    .keyword_category_KEY {
        & .posttableSide {
            & .post_table {
                & .input_wrapper {
                    padding: 12px;
                    & .content {
                        & ul {
                            & li {
                                padding: 3px 8px;
                                font-size: 12px;
                                & i {
                                    height: 12px;
                                    width: 12px;
                                }
                            }
                            & input {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        & .applybtn {
            max-width: 130px;
        }
    }
}
